.main-product-container{

  display: grid;
  grid-template-columns: repeat(8, 1fr);

}

@media (max-width: 2000px) {
  .main-product-container {
    grid-template-columns: repeat(7, 1fr);
  }
}


@media (max-width: 1600px) {
  .main-product-container {
    grid-template-columns: repeat(6, 1fr);
  }
}


@media (max-width: 1200px) {
  .main-product-container {
    grid-template-columns: repeat(5, 1fr);
  }
}


@media (max-width: 800px) {
  .main-product-container {
    grid-template-columns: repeat(4, 1fr);
  }
}


@media (max-width: 400px) {
  .main-product-container {
    grid-template-columns: repeat(3, 1fr);
  }
}

.product-container {

  display: flex;
  flex-direction: column;
  border-right: 1px solid gray;
  border-bottom: 1px solid gray;
  padding: 30px 20px 20px 20px;
}

.product-image-container{

  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;


}
.product-image{
  height: 200px;
  width: 200px;
  max-width: 100%;
  max-height: 100%;
  transition: 0.25s
}

.product-image:hover{
 transform: scale(1.7);
 margin-left: 100px;
}

.product-details{
  margin-top: 10px;
  height: 40px;
  margin-bottom: 20px;
  font-weight: bolder;
}

.product-rating{

  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 10px;

}

.rating-star{
  width: 100px;
  margin-right: 6px;
}

.rating-count{
  color: blue;
  font-size: large;
  margin-top: 2px;
}

.product-price {

  font-weight: bold;
  font-size: larger;
  margin-bottom: 10px;

}

.product-quantity{
  margin-bottom: 10px;
  display: flex;
  flex-direction: row;
  column-gap: 40px;
}

.select-quantity{

  padding: 5px;
  border: 2px solid black;
  font-weight: bold;
  border-radius: 8px;
  background-color: rgb(208, 207, 207);
}


.add-tocart{
  display: flex;
  justify-content: center;
  flex-direction: row;
  margin-top: 20px;
}

.added-to-cart{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 0px;
  font-weight: bold;
  font-size: 15px;
  opacity: 0;  
  transition: 0.27s;
}
.added{
  content: "Added";
}
.removed {
  content: "Removed"
}

.added-to-cart-visible{
  opacity: 1;
  transition: 0.27s;
}

.added-to-cart img{
  width: 20px;
  margin-right: 5px;
}

.button-add-tocart,.button-minus-tocart{

  background-color: rgb(89, 89, 243);
  padding: 10px 44;
  border-radius: 17px;
  font-weight: bold;
  border: 0px;
  cursor: pointer;

}
.button-minus-tocart{
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}

.button-add-tocart{
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;

}

.product-cart{
  display: flex;
  position: relative;
  flex-direction: row;
  color: orange;
  font-weight: lighter;
  font-size: 20px;
  opacity: 1;
}

.product-cart-logo{
  width: 50px;
}

.product-cart-quantity{
  position: absolute;
  left: 25px;
  bottom: 13px;
  z-index: 1;
}

.product-quantity-visible{
  opacity: 1;
}
